body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 600px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.productsInfoContainer {
  min-height: 250px;
}

.product-table {
  font-size: 0.8rem;
  min-width: 450px;
}

td {
  vertical-align: middle !important;
}

.smaller-button {
  padding: 0.05rem 0.5rem !important;
}

.small-text {
  font-size: 0.8rem !important;
}

.small-text > label {
  font-size: 0.8rem;
}

.y-scroll {
  overflow-y: scroll;
}

.waiting-spinner-container {
  position: absolute;
  /* display: none; */
  height: 100vh;
  width: 100vw;
  background-color: transparent;
  transition: all 0.25s ease-in-out;
}

.waiting-spinner {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 30%;
  left: calc(50% - 125px);
  height: 150px;
  width: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 5px 1px;
}

.waiting-spinner > span {
  margin-block: 10px;
}

.waiting-spinner-container.show {
  opacity: 1;
  display: block;
  background-color: rgba(0, 0, 0, 0.237);
  z-index: 999;
}

.hide {
  display: none;
  background-color: transparent;
  opacity: 0;
  z-index: -999;
}

.bordered-container {
  border-radius: 0.3rem;
}

.bordered-container > form:last-child {
  margin: 0 !important;
}

.info-input-row > div {
  display: flex;
  align-items: center;
}

label {
  margin: 0;
}

.controlled-text {
  font-size: 1rem;
}

.small-controlled-text {
  font-size: 0.85rem;
}

.parent-container {
  max-width: 95%;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .controlled-text {
    font-size: 0.85rem;
  }

  .small-controlled-text {
    font-size: 0.8rem;
  }

  input {
    font-size: 0.85rem !important;
  }

  button {
    font-size: 0.85rem !important;
  }
}
