body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.productsInfoContainer {
  height: 250px;
}

.product-table {
  font-size: 0.8rem;
}

td {
  vertical-align: middle !important;
}

.smaller-button {
  padding: 0.05rem 0.5rem !important;
}

.small-text {
  font-size: 0.8rem !important;
}

.small-text > label {
  font-size: 0.8rem;
}

.y-scroll {
  overflow-y: scroll;
}


